

<div class="jumbotron">
  <div class="container">
    <h1>Ajuda</h1>

    <p>Informações úteis sobre uso e funcionamento deste site.</p>
  </div>
</div>

<%= link_to '<br/><i class="fa fa-key fa-4x"></i><br/>Autorização e permissões<br/><br/>'.html_safe,
            '/help/authorization',
            class: 'btn btn-lg btn-secondary' %>
