

<%= render 'common/page_title', titulo: "E-mails dos participantes do evento <em>#{@event.name}</em>".html_safe,
                                back_url: event_path(@event) %>

<% @people.each do |p| %>
    <div><%= p.email %></div>
<% end %>