
<% if policy(@person).edit? %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ações <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <% if policy(@person).edit? %>
          <%= link_to 'Editar', edit_person_path(@person), class: 'dropdown-item' %>
        <% end %>

        <% if policy(@person).destroy? %>
          <% @person.safely_destroyable? ? disabled = false : disabled = true%>
          <%= link_to 'Deletar',
                          person_path(@person, page: params[:page], query: params[:query], order: params[:order]),
                          method: :delete,
                          data: { confirm: "Você tem certeza que deseja deletar \"#{@person.to_s}\"?" },
                          disabled: disabled, class: 'dropdown-item' %>
        <% end %>

        <% unless @person.needs_review %>
          <a data-toggle="modal" data-target="#myModal" href="#" class="dropdown-item">Marcar como "necessita revisão"</a>
        <% end %>

        <div class="dropdown-divider"></div>

        <% if policy(@person).show? %>
          <%= link_to 'Histórico de alterações', versions_person_path(@person), class: 'dropdown-item' %>
        <% end %>

      </div>
    </div>
<% end %>