
<%= render partial: 'common/titulo_pagina', locals: { titulo: 'Pessoas' } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_adicionar', locals: { recurso: Person.new } %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

  <% @persons.each do |person| %>
      <tr>
        <td><%= link_to person.name, person_path(person) %></td>
        <td><%= person.email %></td>
      </tr>
  <% end %>
</table>