
<%= render partial: 'common/titulo_pagina', locals: { titulo: 'Pessoas' } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_adicionar', locals: { recurso: Person.new } %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

  <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= link_to pessoa.name, pessoa_path(pessoa) %></td>
        <td><%= pessoa.email %></td>
      </tr>
  <% end %>
</table>