
<% if policy(@event).edit? %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Ações <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <% unless @event.archived %>
            <% if policy(@event).edit? %>
              <%= link_to 'Editar', edit_event_path(@event), class: 'dropdown-item' %>
            <% end %>

            <% if policy(@event).destroy? %>
                <% @event.safely_destroyable? ? disabled = false : disabled = true %>
                <%= link_to 'Deletar',
                              event_path(@event, page: params[:page], query: params[:query], order: params[:order]),
                              method: :delete,
                              data: { confirm: "Você tem certeza que deseja deletar \"#{@event.to_s}\"?" },
                              disabled: disabled, class: 'dropdown-item' %>
            <% end %>
        <% end %>

        <div class="dropdown-divider"></div>

        <% if policy(@event).roles? %>
            <%= link_to 'Permissões', roles_event_path(@event), class: 'dropdown-item' %>
        <% end %>
        <% if policy(@event).show? %>
            <%= link_to 'Histórico de alterações', versions_event_path(@event), class: 'dropdown-item' %>
        <% end %>

      </div>
    </div>
<% end %>