<% full_description = local_assigns.fetch :full_description, false %>

<% @versions.each do |version| %>

  <% resource = version.reify(dup: true) %>
  <% resource_class = version.item_type.constantize %>
  <% resource_name = resource_class.model_name %>

  <div class="card">
    <div class="card-header">
      <%= render 'versions/version_title', version: version, resource: resource,
                   resource_class: resource_class, resource_name: resource_name,
                   full_description: full_description %>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <tbody>
        <!-- Atributos alterados -->
        <% VersionsHelper.changeset(version, resource).each do |k,v| %>
            <tr>
              <td class="w-2"><span class="text-muted"><%= resource_class.human_attribute_name(k) %></span></td>
              <td class="w-5"><%= VersionsHelper::attribute_display(resource_name, k, v[0], true) %></td>
              <td class="w-5"><%= VersionsHelper::attribute_display(resource_name, k, v[1]) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <br>

<% end %>