<p>Olá <%= @resource.name %>!</p>

<p>Alguém (provavelmente você mesmo) requisitou um reset e mudança de senha. Você pode fazer esta operação através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez este pedido, pode ignorar este email.</p>
<p>Sua senha não mudará enquanto não acessar o link acima e criar uma nova senha.</p>
