
<% if policy(@activity).edit? %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Ações <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right" >
        <%= link_to 'Editar', edit_activity_path(@activity), class: 'dropdown-item' %>

        <% if policy(@activity).destroy? %>
          <% @activity.safely_destroyable? ? disabled = false : disabled = true%>
          <%= link_to 'Deletar',
                          activity_path(@activity, page: params[:page], query: params[:query], order: params[:order]),
                          method: :delete,
                          data: { confirm: "Você tem certeza que deseja deletar \"#{@event.to_s}\"?" },
                          disabled: disabled, class: 'dropdown-item' %>
        <% end %>

        <div class="dropdown-divider"></div>

        <%= link_to 'Histórico de alterações', versions_activity_path(@activity), class: 'dropdown-item' %>

      </div>
    </div>
<% end %>