
<%= render 'common/page_title', titulo: 'Atividades' %>

<% content_for :actions do %>
    <%= render 'common/btn_new', url: new_activity_path, resource: Activity.new, btn_label: 'Nova atividade' %>
<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Sumário</th>
  </tr>

  <% @activities.each do |activity| %>
      <tr>
        <td><%= activity_link_display activity %></td>
        <td><%= activity.summary %></td>
      </tr>
  <% end %>
</table>