<div>

<%= image_tag 'slides_recons-about.jpg', style: 'max-width:100%; max-height:100%;' %>

<br><br><br>
<p>
  A Associação Internacional de Pesquisologia para Megaconscientização (Reconscientia) é uma Instituição Conscienciocêntrica,
  sem fins de lucro, apartidária, de caráter científico, pesquisístico e educacional, fundada em 02 de julho de 2011.
  Visa contribuir para a cultura da cientificidade parapsíquica e pesquisística, através das especialidades Pesquisologia,
  Parametodologia e Parepistemologia, realizando a formação de pesquisadores multidimensionais, promovendo intercâmbio de pesquisas,
  ministrando palestras, cursos, programas de iniciação paracientífica e de apoio às pesquisas e aos pesquisadores
  através de atividades e eventos às consciências interessadas nas realidades multidimensionais. Seu materpensene é a
  autoconscientização multidimensional via pesquisa.
</p>
</div>