<p class="lead">A Associação Internacional de Pesquisologia para Megaconscientização (Reconscientia) é uma Instituição Conscienciocêntrica, sem fins de lucro, apartidária, de caráter científico, pesquisístico e educacional, fundada em 02 de julho de 2011. Visa contribuir para a cultura da cientificidade parapsíquica e pesquisística, através das especialidades Pesquisologia, Parametodologia e Parepistemologia, realizando a formação de pesquisadores multidimensionais, promovendo intercâmbio de pesquisas, ministrando palestras, cursos, programas de iniciação paracientífica e de apoio às pesquisas e aos pesquisadores através de atividades e eventos às consciências interessadas nas realidades multidimensionais. Seu materpensene é a autoconscientização multidimensional via pesquisa.</p>
<br>

<address>
<strong>Localização</strong><br>
Av. Felipe Wandscheer, 6200, sala 104, Pólo Discernimentum<br>
Bairro Cognópolis<br>
Foz do Iguaçu - PR, Brasil, CEP: 85856-530
</address>

<address>
  <strong>Contato</strong><br>
  Telefone: +55 (45) 9993-2000<br>
  E-mail: reconscientia@gmail.com<br>
  www.facebook.com/Reconscientia
</address>