<% resource = local_assigns.fetch :resource, nil %>
<% form = local_assigns.fetch :form, nil %>

<% if resource.avatar.attached? %>
    <div class="form-group">
      <label class="col-2 control-label"></label>
      <div class="col-6">
        <%= image_tag resource.avatar.variant(resize: '200x100'), class: 'rounded' %>
        <%= form.check_box :avatar_delete, label: 'Deletar imagem <small>(Após deletar será possivel adicionar uma nova)</small>'.html_safe %>
      </div>
    </div>
<% else %>
    <% label = 'Upload de imagem' %>
    <%= form.file_field :avatar, label: label %>
<% end %>