<% size = local_assigns.fetch :size, '' %>
<% disabled = local_assigns.fetch :disabled, false %>
<% btn_label = local_assigns.fetch :btn_label, 'Deletar' %>
<% url = local_assigns.fetch :url, false %>
<% url = polymorphic_path(resource, page: params[:page]) unless url %>

<% if policy(resource).destroy? %>
    <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span> #{btn_label}".html_safe,
            url, class: "btn #{size} btn-default", method: :delete,
            data: { confirm: "Você tem certeza que deseja deletar \"#{resource.to_s}\"?" },
            disabled: disabled %>
<% end %>