<% size = local_assigns.fetch :size, '' %>
<%= link_to '<span class="glyphicon glyphicon-envelope"></span> E-mails'.html_safe,
            emails_event_participations_path(@event.id), class: "btn #{size} btn-default" %>