
<div id="error_explanation" class="alert alert-danger">
  <strong>Erro:</strong>
      <ul>
      <% objeto.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
</div>