
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>Erro!</h4>
      <ul>
        <% objeto.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
      </ul>
</div>