
<% back_url = local_assigns.fetch :back_url, nil %>

<% content_for :page_title do %>
    <h2>
        <% if back_url %>
            <smal><%= link_to "<span class=\"glyphicon glyphicon-circle-arrow-left\"></span>".html_safe, back_url %></smal>
        <% end %>
        <%= titulo %>
    </h2>
    <br/>
<% end %>
