<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-time"></span> Linha do tempo
</button>


<!-- Janela modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h3>Linha do tempo para <em><%= @resource.name %></em></h3>
      </div>

      <div class="modal-body">
        <%= render 'versions/versions', short: true %>
      </div>

    </div>
  </div>
</div>


